.button {
  display: block;
  padding: 18px 28px;

  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  color: #148de8;

  background-color: transparent;
  border: 1px solid #148de8;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #148de8;
  }

  &:active {
    color: #ffffff;
    background-color: #148de8;
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}
