.relevant__header {
  display: flex;
  justify-content: space-between;
}

.relevant__header-link {
  margin-top: 65px;
  padding-top: 5px;

  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  color: #212121;
}

.relevant__tags {
  margin-bottom: 30px;
}

.relevant__articles {
  margin-bottom: 70px;
}
