@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    url("../fonts/proximanova-light.woff") format("woff"),
    url("../fonts/proximanova-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    url("../fonts/proximanova-regular.woff") format("woff"),
    url("../fonts/proximanova-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    url("../fonts/proximanova-semibold.woff") format("woff"),
    url("../fonts/proximanova-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    url("../fonts/proximanova-bold.woff") format("woff"),
    url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  font-display: swap;
  src:
    url("../fonts/proximanova-regularit.woff") format("woff"),
    url("../fonts/proximanova-regularit.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
