*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  color: #373737;

  background-color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.svg-wrapper {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  width: 1146px;
  margin: 0 auto;
}

.title {
  padding: 0;
  margin: 65px 0 30px;

  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  color: #212121;
}

.title-l2 {
  padding: 0;
  margin: 0 0 25px;

  font-size: 32px;
  line-height: 39px;
  font-weight: 600;
  color: #373737;
}

.caption {
  margin: 0 0 60px;

  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  font-weight: normal;
  color: #373737;
}
